html, body {
    background-color: #f1f1f1;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

input{
    margin: 5px;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.moveDown{
    margin-top:10px;
}

textarea{
    width: 100%; 
    height: 100px; 
    border-radius: 5px;
}

.morado{
    margin:5%; 
    background-color: #e3e7fd;
}
nav.navbar{
    background-color: #e3e7fd;
}
img.PP{
    height:50px; 
    width:50px;
    margin:0px;
    padding: 0px;
}

#registroForm{
    background-color: #e3e7fd;
    margin-top: 5%;
    margin-right: 15%;
}
.like{
    margin-top: 10px; 
    display: inline-block;
}
.imgModalGallery{
    width: 100%; 
}

.half{
    width:  50%; 
    height: 50%;
}
.quarter{
    width:  25%; 
    height: 25%;
}
.imgWidth{
    /* width: 100%;  */
    display: inline;
}
.imgProfile{
    width: 50px; 
    height: 50px; 
    display: inline-block;
}
label.like{
    display: inline-block; 
    color: #337ab7; 
    vertical-align: bottom; 
    margin-left: 15px;
    border-top: 10px;
    font-size: 20px; 
}
.comments{
    margin-top: 10px; 
    display: inline-block;
    margin-left: 15px;
}
.divPost{
    width: 70%; 
    margin: 40px auto; 
    background-color:lightblue; 
}
.hideInput {
	/* width: 0.1px;
	height: 0.1px; */
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
    display: inline;
}
.btnLeftPad{
    margin-left: 18px; 
    margin-top: 5px;
}

.hideInput:focus + label,
.hideInput + label:hover {
    background-color: yellowgreen;
}

main{
    display: inline-block;
    width: 70%;
}

.divChat{
    float: right;
    padding-right: 25px;
    /* width: 30%; */
}
.divChatContainer{
    padding: 5px;
    border: bold, gainsboro, 3px;
}
.divChatContainer:hover{
    opacity: .3;
}   
#chatMsg{
    float: left;
    padding-right: 4px;
    margin-left: 15px;
}
#chatSubmit{
    float: right;
    margin-top: 5px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#btnReloadMessages{
    float: right;
    margin-top: 5px;
}
.chat input{
    width: 70%;
}
.chatMessages{
    max-height: 500px;
    min-height: 500px;
}
.chatMessagesSend{
    width: 50%;
    min-height: 500px;
    max-height: 500px;
    float: right;
    overflow-y: scroll;
}
.chatMessagesReceive{
    width: 50%;
    min-height: 500px;
    max-height: 500px;
    float: left;
    overflow-y: scroll;
}
.messageReceived{
    margin-top: 15px;
    clear: both;
    display: block;
    float: left;
    margin-left: 15px;
    border-radius: 5px;
    background-color: #e3e7fd;
    padding: 10px;
}

.messageSend{
    margin-top: 15px;
    clear: both;
    display: block;
    float: right;
    border-radius: 5px;
    background-color: lightblue;
    padding: 10px;
    margin-right: 15px;
}

.labelSend{
    clear: both;
    display: block;
    float: right;
    text-align: right;
    font-size: 10px;
    font-style: normal;
}

.labelReceived{
    clear: both;
    display: block;
    float: left;
    text-align: left;
    font-size: 10px;
    font-style: normal;
}

.coverDiv{
    padding-left: 10px;  
    width: 92.5%; 
    margin: 20px auto;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.vistaComentario{
    margin-top: 15px;
    background-color: #e3e7fd;
    border-radius: 5px;
    padding: 10px;
}

.vistaComentario>div{
    margin-left: 10px;
    padding: 5px;
    font-style: normal;
    font-size: 20px;
}